In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("dataset_titanic.csv",sep = ";")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S
4,672,No,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,B71,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,10,Yes,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
887,61,No,3,"Sirayanian, Mr. Orsen",male,22.0,0,0,2669,7.2292,NaN,C
888,535,No,3,"Cacic, Miss. Marija",female,30.0,0,0,315084,8.6625,NaN,S
889,102,No,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,NaN,S
890,428,Yes,2,"Phillips, Miss. Kate Florence (""Mrs Kate Louis...",female,19.0,0,0,250655,26.0000,NaN,S

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    object
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 83.7+ KB

In [4]:
q = []

for i in df["Name"]:
    title = i.split(".")[0].split(",")[1]
    q.append(title)
        
df["Status"] = q
df.drop(["PassengerId","Cabin","Name","Ticket"],inplace = True,axis = 1)

In [5]:
df

    Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked Status
0         No       2    male  28.0      0      0  13.0000        S     Mr
1         No       3    male  25.0      0      0   7.6500        S     Mr
2         No       3    male  20.0      0      0   7.8542        S     Mr
3         No       3  female  29.0      0      4  21.0750        S    Mrs
4         No       1    male  31.0      1      0  52.0000        S     Mr
..       ...     ...     ...   ...    ...    ...      ...      ...    ...
886      Yes       2  female  14.0      1      0  30.0708        C    Mrs
887       No       3    male  22.0      0      0   7.2292        C     Mr
888       No       3  female  30.0      0      0   8.6625        S   Miss
889       No       3    male   NaN      0      0   7.8958        S     Mr
890      Yes       2  female  19.0      0      0  26.0000        S   Miss

[891 rows x 9 columns]

In [6]:
df.Age.fillna(df.Age.mean(),inplace = True)

In [7]:
df.dropna(inplace = True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  889 non-null    object
 1   Pclass    889 non-null    int64
 2   Sex       889 non-null    object
 3   Age       889 non-null    float64
 4   SibSp     889 non-null    int64
 5   Parch     889 non-null    int64
 6   Fare      889 non-null    float64
 7   Embarked  889 non-null    object
 8   Status    889 non-null    object
dtypes: float64(2), int64(3), object(4)
memory usage: 69.5+ KB

In [9]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
to_label = ["Survived","Sex","Embarked","Status"]
for label in to_label:
    df[label] = lb.fit_transform(df[label])

In [10]:
from sklearn.model_selection import train_test_split
x = df.drop('Survived',axis = 1)
y = df['Survived']
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size= 0.20)

In [11]:
from sklearn.tree import DecisionTreeClassifier,plot_tree,export_graphviz ,export_text,plot_tree
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
model = DecisionTreeClassifier()
model.fit(xtrain,ytrain)
yprediction = model.predict(xtest)
print(accuracy_score(ytest,yprediction))

0.797752808988764

In [12]:
text_representation = export_text(model)
print(text_representation)

|--- feature_1 <= 0.50
|   |--- feature_0 <= 2.50
|   |   |--- feature_5 <= 29.39
|   |   |   |--- feature_5 <= 28.23
|   |   |   |   |--- feature_2 <= 56.00
|   |   |   |   |   |--- feature_2 <= 23.50
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- feature_2 >  23.50
|   |   |   |   |   |   |--- feature_2 <= 27.50
|   |   |   |   |   |   |   |--- feature_2 <= 25.50
|   |   |   |   |   |   |   |   |--- feature_5 <= 13.75
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- feature_5 >  13.75
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- feature_2 >  25.50
|   |   |   |   |   |   |   |   |--- feature_7 <= 10.00
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- feature_7 >  10.00
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- feature_2 >  27.50
|   |   |   |   |   |   |   |--- feature_2 <= 37.00
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- feature_2 >  37.00
|   |   |   |   |   |   |   |   |--- feature_2 <= 39.00
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- feature_2 >  39.00
|   |   |   |   |   |   |   |   |   |--- feature_3 <= 0.50
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- feature_3 >  0.50
|   |   |   |   |   |   |   |   |   |   |--- feature_2 <= 44.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |   |--- feature_2 >  44.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- feature_2 >  56.00
|   |   |   |   |   |--- feature_7 <= 10.00
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- feature_7 >  10.00
|   |   |   |   |   |   |--- class: 0
|   |   |   |--- feature_5 >  28.23
|   |   |   |   |--- class: 0
|   |   |--- feature_5 >  29.39
|   |   |   |--- feature_4 <= 1.50
|   |   |   |   |--- class: 1
|   |   |   |--- feature_4 >  1.50
|   |   |   |   |--- feature_7 <= 10.00
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- feature_7 >  10.00
|   |   |   |   |   |--- feature_5 <= 135.78
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- feature_5 >  135.78
|   |   |   |   |   |   |--- class: 0
|   |--- feature_0 >  2.50
|   |   |--- feature_5 <= 20.80
|   |   |   |--- feature_2 <= 30.10
|   |   |   |   |--- feature_5 <= 7.89
|   |   |   |   |   |--- feature_4 <= 1.00
|   |   |   |   |   |   |--- feature_5 <= 6.99
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- feature_5 >  6.99
|   |   |   |   |   |   |   |--- feature_2 <= 14.50
|   |   |   |   |   |   |   |   |--- feature_5 <= 7.54
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- feature_5 >  7.54
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- feature_2 >  14.50
|   |   |   |   |   |   |   |   |--- feature_5 <= 7.64
|   |   |   |   |   |   |   |   |   |--- feature_5 <= 7.52
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- feature_5 >  7.52
|   |   |   |   |   |   |   |   |   |   |--- feature_2 <= 26.35
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |   |--- feature_2 >  26.35
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- feature_5 >  7.64
|   |   |   |   |   |   |   |   |   |--- feature_5 <= 7.76
|   |   |   |   |   |   |   |   |   |   |--- feature_5 <= 7.74
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |   |--- feature_5 >  7.74
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 3
|   |   |   |   |   |   |   |   |   |--- feature_5 >  7.76
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- feature_4 >  1.00
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- feature_5 >  7.89
|   |   |   |   |   |--- feature_2 <= 16.00
|   |   |   |   |   |   |--- feature_5 <= 10.80
|   |   |   |   |   |   |   |--- feature_6 <= 1.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- feature_6 >  1.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- feature_5 >  10.80
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- feature_2 >  16.00
|   |   |   |   |   |   |--- feature_5 <= 15.37
|   |   |   |   |   |   |   |--- feature_4 <= 1.50
|   |   |   |   |   |   |   |   |--- feature_3 <= 0.50
|   |   |   |   |   |   |   |   |   |--- feature_7 <= 10.00
|   |   |   |   |   |   |   |   |   |   |--- feature_2 <= 27.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 4
|   |   |   |   |   |   |   |   |   |   |--- feature_2 >  27.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- feature_7 >  10.00
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- feature_3 >  0.50
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- feature_4 >  1.50
|   |   |   |   |   |   |   |   |--- feature_2 <= 29.35
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- feature_2 >  29.35
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- feature_5 >  15.37
|   |   |   |   |   |   |   |--- feature_2 <= 21.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- feature_2 >  21.00
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |--- feature_2 >  30.10
|   |   |   |   |--- feature_3 <= 2.00
|   |   |   |   |   |--- feature_5 <= 20.37
|   |   |   |   |   |   |--- feature_2 <= 55.00
|   |   |   |   |   |   |   |--- feature_5 <= 9.08
|   |   |   |   |   |   |   |   |--- feature_5 <= 8.27
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- feature_5 >  8.27
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- feature_5 >  9.08
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- feature_2 >  55.00
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- feature_5 >  20.37
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- feature_3 >  2.00
|   |   |   |   |   |--- class: 1
|   |   |--- feature_5 >  20.80
|   |   |   |--- feature_6 <= 1.50
|   |   |   |   |--- feature_2 <= 34.35
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- feature_2 >  34.35
|   |   |   |   |   |--- class: 0
|   |   |   |--- feature_6 >  1.50
|   |   |   |   |--- feature_2 <= 5.50
|   |   |   |   |   |--- feature_2 <= 4.00
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- feature_2 >  4.00
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- feature_2 >  5.50
|   |   |   |   |   |--- class: 0
|--- feature_1 >  0.50
|   |--- feature_7 <= 9.00
|   |   |--- feature_3 <= 2.50
|   |   |   |--- feature_7 <= 4.50
|   |   |   |   |--- feature_5 <= 29.11
|   |   |   |   |   |--- class: 0
|   |   |   |   |--- feature_5 >  29.11
|   |   |   |   |   |--- feature_5 <= 37.55
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- feature_5 >  37.55
|   |   |   |   |   |   |--- feature_5 <= 111.82
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- feature_5 >  111.82
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |--- feature_7 >  4.50
|   |   |   |   |--- class: 1
|   |   |--- feature_3 >  2.50
|   |   |   |--- feature_5 <= 31.33
|   |   |   |   |--- class: 0
|   |   |   |--- feature_5 >  31.33
|   |   |   |   |--- feature_5 <= 35.54
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- feature_5 >  35.54
|   |   |   |   |   |--- class: 0
|   |--- feature_7 >  9.00
|   |   |--- feature_0 <= 1.50
|   |   |   |--- feature_5 <= 26.14
|   |   |   |   |--- class: 0
|   |   |   |--- feature_5 >  26.14
|   |   |   |   |--- feature_2 <= 49.50
|   |   |   |   |   |--- feature_5 <= 27.14
|   |   |   |   |   |   |--- feature_2 <= 32.35
|   |   |   |   |   |   |   |--- feature_2 <= 28.85
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- feature_2 >  28.85
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- feature_2 >  32.35
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- feature_5 >  27.14
|   |   |   |   |   |   |--- feature_2 <= 47.50
|   |   |   |   |   |   |   |--- feature_2 <= 42.50
|   |   |   |   |   |   |   |   |--- feature_5 <= 379.93
|   |   |   |   |   |   |   |   |   |--- feature_5 <= 127.82
|   |   |   |   |   |   |   |   |   |   |--- feature_2 <= 27.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 4
|   |   |   |   |   |   |   |   |   |   |--- feature_2 >  27.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 9
|   |   |   |   |   |   |   |   |   |--- feature_5 >  127.82
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- feature_5 >  379.93
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- feature_2 >  42.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- feature_2 >  47.50
|   |   |   |   |   |   |   |--- feature_4 <= 0.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- feature_4 >  0.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- feature_2 >  49.50
|   |   |   |   |   |--- feature_2 <= 75.50
|   |   |   |   |   |   |--- feature_2 <= 60.50
|   |   |   |   |   |   |   |--- feature_2 <= 59.00
|   |   |   |   |   |   |   |   |--- feature_5 <= 28.12
|   |   |   |   |   |   |   |   |   |--- feature_2 <= 53.50
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- feature_2 >  53.50
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- feature_5 >  28.12
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- feature_2 >  59.00
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- feature_2 >  60.50
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- feature_2 >  75.50
|   |   |   |   |   |   |--- class: 1
|   |   |--- feature_0 >  1.50
|   |   |   |--- feature_2 <= 32.25
|   |   |   |   |--- feature_2 <= 30.75
|   |   |   |   |   |--- feature_6 <= 1.50
|   |   |   |   |   |   |--- feature_5 <= 15.62
|   |   |   |   |   |   |   |--- feature_5 <= 7.23
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- feature_5 >  7.23
|   |   |   |   |   |   |   |   |--- feature_5 <= 14.16
|   |   |   |   |   |   |   |   |   |--- feature_0 <= 2.50
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- feature_0 >  2.50
|   |   |   |   |   |   |   |   |   |   |--- feature_2 <= 29.35
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 4
|   |   |   |   |   |   |   |   |   |   |--- feature_2 >  29.35
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 4
|   |   |   |   |   |   |   |   |--- feature_5 >  14.16
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- feature_5 >  15.62
|   |   |   |   |   |   |   |--- feature_5 <= 23.62
|   |   |   |   |   |   |   |   |--- feature_2 <= 15.50
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- feature_2 >  15.50
|   |   |   |   |   |   |   |   |   |--- feature_3 <= 1.50
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- feature_3 >  1.50
|   |   |   |   |   |   |   |   |   |   |--- feature_5 <= 22.46
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- feature_5 >  22.46
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- feature_5 >  23.62
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- feature_6 >  1.50
|   |   |   |   |   |   |--- feature_5 <= 11.00
|   |   |   |   |   |   |   |--- feature_5 <= 8.08
|   |   |   |   |   |   |   |   |--- feature_2 <= 27.50
|   |   |   |   |   |   |   |   |   |--- feature_2 <= 26.50
|   |   |   |   |   |   |   |   |   |   |--- feature_5 <= 3.25
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |   |--- feature_5 >  3.25
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 9
|   |   |   |   |   |   |   |   |   |--- feature_2 >  26.50
|   |   |   |   |   |   |   |   |   |   |--- feature_5 <= 7.85
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |   |--- feature_5 >  7.85
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- feature_2 >  27.50
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- feature_5 >  8.08
|   |   |   |   |   |   |   |   |--- feature_5 <= 8.21
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- feature_5 >  8.21
|   |   |   |   |   |   |   |   |   |--- feature_2 <= 26.50
|   |   |   |   |   |   |   |   |   |   |--- feature_0 <= 2.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 3
|   |   |   |   |   |   |   |   |   |   |--- feature_0 >  2.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- feature_2 >  26.50
|   |   |   |   |   |   |   |   |   |   |--- feature_2 <= 27.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |   |--- feature_2 >  27.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 5
|   |   |   |   |   |   |--- feature_5 >  11.00
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- feature_2 >  30.75
|   |   |   |   |   |--- feature_5 <= 46.75
|   |   |   |   |   |   |--- feature_6 <= 1.50
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- feature_6 >  1.50
|   |   |   |   |   |   |   |--- feature_4 <= 0.50
|   |   |   |   |   |   |   |   |--- feature_5 <= 20.93
|   |   |   |   |   |   |   |   |   |--- feature_5 <= 8.21
|   |   |   |   |   |   |   |   |   |   |--- feature_5 <= 7.85
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- feature_5 >  7.85
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 3
|   |   |   |   |   |   |   |   |   |--- feature_5 >  8.21
|   |   |   |   |   |   |   |   |   |   |--- feature_5 <= 11.75
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- feature_5 >  11.75
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |--- feature_5 >  20.93
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- feature_4 >  0.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- feature_5 >  46.75
|   |   |   |   |   |   |--- class: 1
|   |   |   |--- feature_2 >  32.25
|   |   |   |   |--- feature_2 <= 61.50
|   |   |   |   |   |--- feature_2 <= 39.50
|   |   |   |   |   |   |--- feature_2 <= 38.50
|   |   |   |   |   |   |   |--- feature_0 <= 2.50
|   |   |   |   |   |   |   |   |--- feature_5 <= 17.00
|   |   |   |   |   |   |   |   |   |--- feature_5 <= 12.64
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- feature_5 >  12.64
|   |   |   |   |   |   |   |   |   |   |--- feature_2 <= 35.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- feature_2 >  35.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- feature_5 >  17.00
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- feature_0 >  2.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- feature_2 >  38.50
|   |   |   |   |   |   |   |--- feature_5 <= 10.46
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- feature_5 >  10.46
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- feature_2 >  39.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- feature_2 >  61.50
|   |   |   |   |   |--- feature_2 <= 63.50
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- feature_2 >  63.50
|   |   |   |   |   |   |--- class: 0

Model 1 accuracy:   0.8258426966292135
Model 2 accuracy:  0.7752808988764045

In [13]:
model2 = DecisionTreeClassifier(splitter = "random",max_features = "sqrt")
model2.fit(xtrain,ytrain)
yprediction = model2.predict(xtest)
print(accuracy_score(ytest,yprediction))

0.7696629213483146

In [15]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()
rfc.fit(xtrain,ytrain)
y_pred = rfc.predict(xtest)
print(accuracy_score(ytest,y_pred))

0.8314606741573034

In [26]:
rfc = RandomForestClassifier(n_estimators=5)
rfc.fit(xtrain,ytrain)
y_pred = rfc.predict(xtest)
print(accuracy_score(ytest,y_pred))

0.8033707865168539

before changing n_estimator:0.8314606741573034

    
after ***** :    0.8202247191011236